h2 {
  font-size: 34px;
}

.container {
  max-width: 704px;
}

.section-wrapper {
  padding: 64px 32px;
}

/*  Header */

.header-wrapper {
  padding: 0px 32px;
}

.header-wrapper-btn {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.header-btn {
  display: flex;
}

header .nav-wrapper {
  display: none;
}

.header-wrapper .container {
  justify-content: space-between;
}

/* Hero */

.hero-wrapper {
  background-position: 60% center;
  min-height: 768px;
}

.hero-info {
  padding: 48px 32px 48px 0px;
  max-width: 375px;
}

.hero-info h1 {
  max-width: 343px;
}

.hero-info p {
  max-width: 343px;
}

.hero-bottom {
  min-height: 215px;
}

.hero-bottom button {
  margin: 0;
  width: fit-content;
}

/* Passion*/

.passion-wrapper {
  flex-direction: row;
  gap: 24px;
}

.passion-info {
  padding: 39px 0;
}

.passion-info p {
  max-width: 340px;
}

.passion-image {
  max-width: 340px;
}

/*  bestsellers */

.bestsellers-gallery {
  grid-template-columns: repeat(2, 1fr);
}

.bestsellers-gallery li {
  flex-basis: calc(50% - 16px);
}

/* bouquets */

.bouquets-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bouquets-gallery ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* feedback */

.feedback-list {
  width: 100%;
}

.feedback-item {
  max-width: 340px;
  flex: 0 0 calc(50% - 12px);
  scroll-snap-align: start;
}

.bestsellers-gallery li {
  flex: 0 0 calc(50% - 12px);
}

.feedback-item blockquote {
  min-height: 228px;
}

/* Comtacts */

.contacts-right {
  max-width: 340px;
  width: 100%;
}

.contacts-info {
  flex-direction: row;
  gap: 24px;
}

.contacts-image {
  height: 396px;
}

/* footer  */

.footer-top {
  align-items: center;
}

.nav-wrapper ul {
  flex-direction: row;
}

/* mob-menu  */

.menu-wrapper {
  padding: 0;
  min-height: 64px;
}

.mob-nav {
  text-align: center;
}

.menu-btn {
  display: none;
}

.mob-nav-list {
  gap: 24px;
}
